{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}{% block content %}
<main class="page">
  <section class="category-details">
    <h1 class="category-details__title _title">Популярные товары</h1>
    <div class="category-details__row">
      <div class="category-details__col">
        <form action="" method="GET" class="filter form">
          <div class="filter__body">
            <p class="filter__label">Цена:</p>
          </div>
          <div class="filter__body">
            <p class="filter__label">Состав букета:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="rose"
                value="Розы" />
              <label for="rose" class="form__boolean-label">Розы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="hrizantema"
                value="Хризантема" />
              <label for="hrizantema" class="form__boolean-label">Хризантема</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="kustovaya-rosa"
                value="Кустовая роза" />
              <label for="kustovaya-rosa" class="form__boolean-label">Кустовая роза</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="tylpany"
                value="Тюльпаны" />
              <label for="tylpany" class="form__boolean-label">Тюльпаны</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="orhidei"
                value="Орхидеи" />
              <label for="orhidei" class="form__boolean-label">Орхидеи</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="iris"
                value="Ирисы" />
              <label for="iris" class="form__boolean-label">Ирисы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="gerbery"
                value="Герберы" />
              <label for="gerbery" class="form__boolean-label">Герберы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="eustomy"
                value="Эустомы" />
              <label for="eustomy" class="form__boolean-label">Эустомы</label>
            </div>
          </div>
          <div class="filter__body">
            <p class="filter__label">Для кого:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="mame" value="Маме" />
              <label for="mame" class="form__boolean-label">Маме</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="babushke" value="Бабушке" />
              <label for="babushke" class="form__boolean-label">Бабушке</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="kollege" value="Коллеге" />
              <label for="kollege" class="form__boolean-label">Коллеге</label>
            </div>
          </div>
          <div class="filter__body">
            <p class="filter__label">По цвету:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="jeltiy" value="Желтый" />
              <label for="jeltiy" class="form__boolean-label">Желтый</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="krasnyi" value="Красный" />
              <label for="krasnyi" class="form__boolean-label">Красный</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="rozoviy" value="Розовый" />
              <label for="rozoviy" class="form__boolean-label">Розовый</label>
            </div>
          </div>
          <button type="submit" class="form__submit">Применить</button>
        </form>
      </div>
      <div class="category-details__col">
        <div class="index-catalog__cards cards-catalog">
          {% if products %}
          {% for product in products %}
          {% include '../includes/card.html' with product=product %}
          {% endfor %}
          {% else %}
          <div class="empty-info">
            <p>Товара нет</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}