{% extends "base.html" %} {% load static %}{% load thumbnail %}{% block content %}
<main>
  <section class="order-create">
    <form action="{% url 'order_create' %}" method="POST" class="form">
      <h2 class="order-create__title">Оформление заказа</h2>
      <div class="order-create__row">
        <div class="order-create__col">
          {% csrf_token %}
          <div class="form__item">
            <p class="form__item-title">Кто получит букет ?</p>
            <div class="form__boolean">
              <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_who_get_bouqets" value="Я сам" checked />
              <label for="id_who_get_bouqets" class="form__boolean-label">Я сам</label>
            </div>
            <div class="form__boolean">
              <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_another_man" value="Другой человек" data-id="another" />
              <label for="id_another_man" class="form__boolean-label">Другой человек</label>
            </div>
          </div>
          <div class="form__item">
            <p class="form__item-title">Ваши контакты</p>
            <div class="form__group-grid">
              <div class="form__group">
                <label for="id_first_name" class="form__label">Имя*:</label>
                <input
                  type="text"
                  class="form__controls"
                  id="id_first_name"
                  value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                  name="first_name"
                  required
                />
              </div>
              <div class="form__group">
                <label for="id_email" class="form__label">Email*:</label>
                <input type="text" class="form__controls" id="id_email" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required />
              </div>
              <div class="form__group">
                <label for="id_phone_number" class="form__label">Номер телефона*:</label>
                <input type="text" class="form__controls" id="id_phone_number" name="phone" value="" placeholder="В формате: XXX-XXX-XX-XX" required />
              </div>
            </div>
          </div>
          <div class="form__item" id="contact-human">
            <p class="form__item-title">Контакты получателя</p>
            <div class="form__group-grid">
              <div class="form__group">
                <label for="id_first_name_human" class="form__label">Имя<span>*</span>:</label>
                <input type="text" class="form__controls" id="id_first_name_human" value="" name="first_name_human" />
              </div>
              <div class="form__group">
                <label for="id_phone_number_human" class="form__label">Номер телефона*:</label>
                <input type="text" class="form__controls" id="id_phone_number_human" name="phone_number_human" value="" placeholder="В формате: XXX-XXX-XX-XX" />
              </div>
              <div class="form__group">
                <div class="form__group-boolean">
                  <input type="checkbox" name="surprise" id="surprise" class="form__controls-checkbox" />
                  <label for="surprise" class="form__boolean-label">Сюрприз (не предупреждать получателя)</label>
                </div>
                <div class="form__group-boolean">
                  <input type="checkbox" name="anonymous" id="anonymous" class="form__controls-checkbox" />
                  <label for="anonymous" class="form__boolean-label">Не говорить от кого</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form__item">
            <p class="form__item-title">Адрес доставки</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="pickup" id="pickup" class="form__controls-checkbox" checked />
              <label for="pickup" class="form__boolean-label">Самовывоз</label>
            </div>
            <div class="form__group _hidden" id="id_delivery_address">
              <input type="text" class="form__controls" name="delivery_address" />
              <span class="form__help-text">Город, улица, дом, подъезд, офис/квартира</span>
            </div>
          </div>
          <div class="form__item">
            <p class="form__item-title">Способ оплаты:</p>
            <div class="form__group">
              <div class="form__group-boolean">
                <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-1" value="На сайте картой" />
                <label class="form__boolean-label" for="id_for_label-1">На сайте картой</label>
              </div>
              <div class="form__group-boolean">
                <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-2" value="Курьером при получении" />
                <label class="form__boolean-label" for="id_for_label-2">Курьером при получении</label>
              </div>
            </div>
          </div>
          <button type="submit" class="form__submit">Оформить заказ</button>
        </div>
        <div class="order-create__col">
          {% load carts_tag %}{% user_carts request as carts %}
          <p class="order-create__info-order"><span>Информация о заказе</span><span>{{ carts.quantity }}</span></p>
          {% for cart in carts %}
          <div class="order-create__item">
            <div class="order-create__thumb">
              {% comment %} {% if cart.product.image %} {% thumbnail cart.product.image "50x50" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ cart.product.name }}" title="{{ cart.product.name  }}" />
              {% endthumbnail %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.png' %}" alt="{{ cart.product.name }}" title="{{ cart.product.name  }}" />
              {% endif %} {% endcomment %}
            </div>
            <div class="order-create__info">
              <a href="{{ cart.product.get_absolute_url }}" class="order-create__name">{{ cart.product.name }}</a>
              <p class="order-create__price">{{ cart.quantity }} <span>x</span> {{ cart.product.sell_price }} руб.</p>
            </div>
          </div>
          {% endfor %}
          <div class="order-create__promocod">
            <form action="" method="POST" id="promocod-form" class="form">
              <input type="search" name="promocod" id="promocod" class="form__controls" placeholder="Введите промокод" />
            </form>
          </div>
          <div class="order-create__total"><span>Итого:</span> {{ carts.total_price }} руб.</div>
        </div>
      </div>
    </form>
  </section>
</main>
{% endblock %}
