.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0px 75px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 425px) {
    padding: 200px 0px 30px;
  }

  // .main__container

  &__container {}

  // .main__bg

  &__bg {
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translateY(-50%);
    width: 1120px;

    @media screen and (max-width: 1790px) {
      width: 1000px;
    }

    @media screen and (max-width: 1600px) {
      width: 900px;
      right: -18%;
    }

    @media screen and (max-width: 1390px) {
      top: 43%;
    }

    @media screen and (max-width: 1390px) {
      right: -25%;
      width: 850px;
    }

    @media screen and (max-width: 1300px) {
      top: 38%;
    }

    @media screen and (max-width: 1187px) {
      right: -35%;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  // .main__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .main__col

  &__col {
    position: relative;

    &:first-child {
      max-width: 798px;
      width: 100%;
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 20px;

      span {
        color: #6C32FE;
        font-size: inherit;
      }

      @media screen and (max-width: 425px) {
        font-size: 30px;
        line-height: 150%;
      }
    }

  }

  // .main__title

  &__title {}

  // .main__subtitle

  &__subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;

    @media screen and (max-width: 425px) {
      font-size: 18px;
    }
  }

  // .main__action

  &__action {
    margin-top: 57px;
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .main__btn

  &__btn {
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    padding: 10px;
    border-radius: 13px;
    background: rgb(108, 50, 254);
  }

  // .main__text

  &__text {
    font-size: 14px;
    line-height: 140%;
  }

  // .main__adv

  &__adv {
    margin-top: 115px;

    @media screen and (max-width: 768px) {
      margin-top: 80px;
    }
  }
}

.adv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 90px;
  max-width: 1274px;
  width: 100%;
  margin: 115px auto 0px;

  // .adv__card

  &__card {
    border: 2px solid rgb(109, 109, 109, 0);
    border-radius: 12.25px;
    padding: 10px;
    transition: .3s;

    &:hover {
      border: 2px solid rgb(108, 50, 254, 1);

      .adv__card-icon {
        display: none;
      }

      .adv__card-icon-two {
        display: block;
      }

      .adv__card-text {
        color: rgba($color: #ffffff, $alpha: 1.0);
      }
    }
  }

  // .adv__card-icon

  &__card-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }

  // .adv__card-icon-two

  &__card-icon-two {
    display: none;
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }

  // .adv__card-text

  &__card-text {
    color: rgb(109, 109, 109);
    font-size: 18px;
    line-height: 140%;
    transition: .3s;
  }
}

.why-us {
  position: relative;
  overflow: hidden;

  // .why-us__container

  &__container {}

  // .why-us__title

  &__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 150%;
    border: 2px solid rgb(108, 50, 254);
    border-radius: 13px;
    padding: 10px 45px;
    display: inline-flex;
    margin-bottom: 50px;

    @media screen and (max-width: 425px) {
      font-size: 25px;
      padding: 10px 10px;
      margin-bottom: 30px;
    }
  }

  // .why-us__row

  &__row {}

  // .why-us__col

  &__col {}

  // .why-us__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 970px;

    li {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
      gap: 15px;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;

      @media screen and (max-width: 425px) {
        font-size: 16px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid rgb(105, 52, 255);
        font-size: 20px;
        font-weight: 400;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }

  // .why-us__director

  &__director {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    position: absolute;
    top: 70px;
    right: 18px;

    // @media screen and (max-width:1460px) {
    //   right: -5%;
    // }

    @media screen and (max-width:1400px) {
      top: 0;
    }

    @media screen and (max-width: 1240px) {
      display: none;
    }



    // .why-us__director-text
    &-text {
      max-width: 359px;
      margin-right: -120px;

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;

        @media screen and (max-width: 1280px) {
          font-size: 17px;
        }
      }
    }

    span {
      color: #6934FF;
      font-size: inherit;
    }

    .director {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }

    img {
      margin-bottom: 30px;
      max-width: 372px;


      @media screen and (max-width: 1700px) {
        max-width: 290px;
      }
    }
  }
}

.how-work {
  max-width: 1199px;

  // .how-work__container

  &__container {}

  // .how-work__card

  &__card {}
}

.how-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  gap: 60px;
  margin-top: 80px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(106, 52, 255, 0.1);

  @media screen and (max-width: 768px) {
    gap: 20px;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  // .how-cards__card

  &__card {
    &:not(:first-child) {
      padding: 35px 28px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.1);
    }

    &:nth-child(2) {
      background: rgb(105, 52, 255);

      .how-cards__icon {
        background-color: rgba($color: $white, $alpha: 1.0);
        box-shadow: 0px 0px 34px 0px rgba(106, 53, 255, 0.5);
      }
    }
  }

  // .how-cards__card--first
  &__card--first {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .how-cards__title {
      font-size: 35px;
      font-weight: 700;
      line-height: 120%;

      @media screen and (max-width: 425px) {
        font-size: 30px;
      }
    }

    .how-cards__text {
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;

      @media screen and (max-width: 425px) {
        font-size: 16px;
      }
    }
  }

  // .how-cards__icon

  &__icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 27px;
  }

  // .how-cards__title

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 20px;
  }

  // .how-cards__text

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}

.contact {
  background: linear-gradient(-525408200%, rgba(11, 10, 17, 0.07) -586683400%, rgba(11, 10, 17, 0.07) 586523550%, 529480250%);
  background: linear-gradient($bodyColor, rgba(105, 52, 255, 0.1));

  // .contact__container

  &__container {}

  // .contact__row

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 124px;

    @media screen and (max-width: 768px) {
      gap: 30px;
      flex-direction: column;
    }
  }

  // .contact__col

  &__col {
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        margin-left: 70px;
      }
    }

    &:nth-child(2) {
      flex: 1 1 auto;
    }
  }

  // .contact__info

  &__info {
    padding: 33px;
    border: 3px solid rgb(108, 50, 254);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: clamp(30px, 5vw, 124px);
  }

  // .contact__title

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;

    @media screen and (max-width: 425px) {
      font-size: 25px;
    }
  }

  // .contact__address

  &__address {}

  // .contact__text

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;

    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
  }

  // .contact__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  // .contact__btn

  &__btn {
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    padding: 10px;
    border-radius: 13px;
    background: rgb(108, 50, 254);
  }

  // .contact__map

  &__map {
    overflow: hidden;

    @media screen and (max-width: 425px) {
      height: 500px;
    }
  }
}

.reviews {

  // .reviews__container

  &__container {}

  // .reviews__inner

  &__inner {}

  // .reviews__title

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
  }

  // .reviews__row

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .reviews__col

  &__col {
    flex: 1 1 50%;
  }
}