@use "sass:math";
// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Onest", sans-serif;

$fontSize: 16px; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
// $bodyColor: #ffffff;
$bodyColor: #0B0A11;
$mainColor: #ffffff; // Цвет шрифта по умолчанию

$white: #ffffff;
$accent: #6934FF;
$hoverBtn: #29779C;
$darkGrey: #949494;
$animation_speed: 0.5s;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1455px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767px; // Телефоны L
$mobileSmall: 479px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

body {
  font-size: 16px;

  // overflow-x: hidden;
  // Скролл заблокирован
  .lock & {
    touch-action: none;
  }

  // Сайт загружен
  .loaded & {}
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer;
      box-sizing: content-box;
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      padding: 0 math.div($containerPadding, 2);

      // @media screen and (min-width: 992px) {
      //   padding: 0 70px;
      // }
    }
  }
}

@else {

  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;

    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer;
      box-sizing: content-box;
    }

    @else {
      @if ($containerPadding>0) {
        padding: 0 math.div($containerPadding, 2);
      }
    }

    @media (max-width: $pc) {
      max-width: 970px;
    }

    @media (max-width: $tablet) {
      max-width: 750px;
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 math.div($containerPadding, 2);
      }
    }
  }
}


/*
    Подключение базовых стилей
*/
@import './base/null';
@import './base/pagging';

/*
    Подключение стилей отдельных страниц
*/
@import './pages/products';
@import './pages/single';
@import './pages/stock';
@import './home';
@import './pages/product-page';
@import './pages/service';
@import './pages/about';
@import './pages/service-page';
// @import './deps';
// @import './bootstrap';

/*
    Подключение стилей отдельных блоков
*/
@import './header';
@import './footer';
@import './global';

/*
    Подключение стилей отдельных компонентов
*/
@import './components/product-card';
@import './components/search-filters';
@import './components/form';
@import './components/breadcrumbs';
@import './components/contact';
@import './components/reviews';
@import './components/callback';
@import './components/pagging';
@import './components/popup';
@import './components/mobile-nav';

/*
    Подключение стилей отдельных блоков страницы
*/

@import './pages/home/index-slider';
@import './pages/home/index-catalog';
@import './pages/home/advantages';
@import './pages/home/faq';
@import './pages/home/index-about';
@import './pages/home/index-reviews';
@import './pages/home/index-category';

@import './pages/contact/contact';

@import './pages/users/login';
@import './pages/users/register';
@import './pages/users/profile';

@import './pages/orders/create';
@import './pages/orders/succes';

@import './pages/blog/blog';
@import './pages/blog/blog-detail';

@import './pages/catalog/category-details';
@import './pages/catalog/product';


@import './pages/service/service-detail';
@import './pages/gallery/gallery';


@import './components/mini-cart/mini-cart';
@import './components/notification/modal';
@import './components/notification/notifications';