{% load static %}
<section class="contact" id="where-are">
  <div class="contact__container">
    <div class="contact__row">
      <div class="contact__col">
        <div class="contact__info">
          <h2 class="contact__title">Где мы находимся</h2>
          <p class="contact__address contact__text">{{ site_settings.address }}</p>
          <a href="{{ site_settings.vk }}" class="contact__address contact__text">{{ site_settings.vk }}</a>
          <a href="tel:{{ site_settings.phone }}" class="contact__address contact__text">{{ site_settings.phone }}</a>
          <div class="contact__socials">
            {% if site_settings.telegram %}
            <a href="https://t.me/{{ site_settings.telegram  }}" target="_blank">
              <img src="{% static 'theme/mb/images/icon/tg.svg' %}" alt="" />
            </a>
            {% endif %} {% if site_settings.whatsapp %}
            <a href="https://wa.me/{{ site_settings.whatsapp }}" target="_blank">
              <img src="{% static 'theme/mb/images/icon/wh.svg' %}" alt="" />
            </a>
            {% endif %} {% if site_settings.vk %}
            <a href="{{ site_settings.vk }}" target="_blank">
              <img src="{% static 'theme/mb/images/icon/vk.svg' %}" alt="" />
            </a>
            {% endif %}
          </div>
        </div>
        <button class="_btn contact__btn" data-popup="callback">Заказать обратный звонок</button>
      </div>
      <div class="contact__col">
        <div class="contact__map">
          {{ site_settings.map|safe }}
        </div>
      </div>
    </div>
  </div>
</section>