.order-succes {

  // .order-succes__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  // .order-succes__image

  &__image {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }

  // .order-succes__title

  &__title {
    color: rgba($color: $accent, $alpha: 1.0);
    font-weight: 600;

  }
}