{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}{% block content %}
<main class="page">
  <section class="category-details">
    <div class="category-details__row">
      <div class="category-details__col" id="filter-category">
        <form action="" method="GET" class="filter form">
          <div class="filter__body">
            <p class="filter__label">Цена:</p>
          </div>
          <div class="filter__body">
            <p class="filter__label">Состав букета:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="rose" value="Розы" />
              <label for="rose" class="form__boolean-label">Розы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="hrizantema" value="Хризантема" />
              <label for="hrizantema" class="form__boolean-label">Хризантема</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="kustovaya-rosa" value="Кустовая роза" />
              <label for="kustovaya-rosa" class="form__boolean-label">Кустовая роза</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="tylpany" value="Тюльпаны" />
              <label for="tylpany" class="form__boolean-label">Тюльпаны</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="orhidei" value="Орхидеи" />
              <label for="orhidei" class="form__boolean-label">Орхидеи</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="iris" value="Ирисы" />
              <label for="iris" class="form__boolean-label">Ирисы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="gerbery" value="Герберы" />
              <label for="gerbery" class="form__boolean-label">Герберы</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="composition-bouquet" class="form__controls-checkbox" id="eustomy" value="Эустомы" />
              <label for="eustomy" class="form__boolean-label">Эустомы</label>
            </div>
          </div>
          <div class="filter__body">
            <p class="filter__label">Для кого:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="mame" value="Маме" />
              <label for="mame" class="form__boolean-label">Маме</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="babushke" value="Бабушке" />
              <label for="babushke" class="form__boolean-label">Бабушке</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="for-whom" class="form__controls-checkbox" id="kollege" value="Коллеге" />
              <label for="kollege" class="form__boolean-label">Коллеге</label>
            </div>
          </div>
          <div class="filter__body">
            <p class="filter__label">По цвету:</p>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="jeltiy" value="Желтый" />
              <label for="jeltiy" class="form__boolean-label">Желтый</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="krasnyi" value="Красный" />
              <label for="krasnyi" class="form__boolean-label">Красный</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="colors" class="form__controls-checkbox" id="rozoviy" value="Розовый" />
              <label for="rozoviy" class="form__boolean-label">Розовый</label>
            </div>
          </div>
          <button type="submit" class="form__submit">Применить</button>
        </form>
      </div>
      <div class="category-details__col">
        <button type="button" class="category-details__filter">Фильтр</button>
        {% if populate %}
        <h2 class="category-details__title">Популярные букеты</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in populate %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
              {% endthumbnail %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% else %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% endif %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <h3 class="card__title-h3">{{ product.name }}</h3>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price">{{ product.sale_price }} <span class="currency">₽</span></span>
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if news %}
        <h2 class="category-details__title">Новинки</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in news %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
              {% endthumbnail %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% else %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% endif %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <h3 class="card__title-h3">{{ product.name }}</h3>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price">{{ product.sale_price }} <span class="currency">₽</span></span>
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if free_delivery %}
        <h2 class="category-details__title">Букеты с бесплатной доставкой</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in free_delivery %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
              {% endthumbnail %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% else %}
              <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
              {% endif %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <h3 class="card__title-h3">{{ product.name }}</h3>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price">{{ product.sale_price }} <span class="currency">₽</span></span>
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
