{% extends 'base.html' %} {% load static %}
{% block title %}
3D - модели памятников в Томске | Акрополь
{% endblock %}
{% block description %}
Закажите 3D-модель памятника в Томске.
Изготовим макет любой сложности. Доставим и установим готовую конструкцию. Заказать 3D-модель можно по номеру +7(900)
921-09-15 и +7(903) 955-40-18
или на нашем сайте
{% endblock %}
{% block keywords %}
гравировка, гравировка томск, гравировка на памятник
{% endblock %}
{% block content %}

<body>
  <div class="wrapper">
    <div class="hero">
      <div class="hero__container">
        <img src="{% static 'theme/mb/images/3d_4.png' %}" alt="Гравировка на памятнике Томск"
          title="Гравировка на памятнике Томск" class="hero__image" style="width: auto" />
        <div class="hero__inner">
          <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <a href="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
              class="breadcrumbs__item">
              Главная
              <meta itemprop="position" content="1" />
            </a>
            <a href="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
              class="breadcrumbs__item">
              Услуги
              <meta itemprop="position" content="2" />
            </a>
            <span itemprop="name" class="breadcrumbs__item">
              3D-моделирование
              <meta itemprop="position" content="3" />
            </span>
          </div>
          <h1 class="hero__title">
            <span>3D-моделирование </span><br />

          </h1>
          <p class="hero__subtitle">
            разработка эскизов памятников и могил в Томске по доступной цене
          </p>
          <div class="hero__buttons">
            <button type="button" class="hero__button hero__button--blue" data-popup="order-service"
              data-order="3d-модель">Заказать услугу</button>
            <button type="button" class="hero__button hero__button--small" data-popup="consultation-form"
              data-order="3d-модель">?</button>
          </div>
        </div>
      </div>
    </div>
    <section class="service-content">
      <div class="service-content__container">
        <div class="service-content__inner">
          <!-- <h2 class="service-content__title _title-h2">Преимущества пескоструйной гравировки</h2> -->
          <div class="service-content__row">
            <div class="service-content__col">
              <img src="{% static 'theme/mb/images/memorial_complex.png' %}" alt="Преимущества пескоструйной гравировки"
                title="Преимущества пескоструйной гравировки" class="" />
            </div>
            <div class="service-content__col">
              <div class="service-content__text _text">
                <p>
                  Для каждого, кто планирует заказать авторский памятник или авторский мемориальный комплекс на могилу
                  близкого человека, очень важны услуги по созданию эскиза и 3D моделированию всего захоронения.
                  Почему ? Во-первых, любая авторская работа это прежде всего прочесс творческий,и, как и в любом
                  творческом процессе, одному человеку нравится одно, второму нравится другое.
                  Любая, даже самая маленькая деталь, может испортить общее впечетление от полученного результата,
                  и чтобы такого не произошло, специалисты нашей мастреской разрабатывают макет и экскиз, где утверждают
                  каждую мелочь.
                  Во-вторых, есть бюджет, в который нужно уложиться, а создание любой авторской работы процесс
                  достаточно дорогостоящий.
                  Любая ошибка, или любое исправление стоит дорого, и чтобы выполнить работу в планируемый бюджет, нужно
                  обговорить все детали еще до начала работ. Перед тем, как заказывать эскиз, 3D моделирование надгробия
                  или памятника, посмотрите настоящие работы выполненные нашими специалистами.
                </p>
              </div>
              <div class="service-content__buttons">
                <button type="button" class="service-content__btn _btn" data-popup="order-service"
                  data-order="3d-модель">Заказать</button>
                <a href="/gallery-category/memorialnye-kompleksy/" class="service-content__btn _btn">Смотреть все</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "../../components/map.html" %}
  </div>
</body>
{% endblock %}