{% load static %}{% load carts_tag %}
<div class="header-under">
  <div class="header-under__container">
    <div class="header-under__inner">
      <a href="/" class="header-under__logo">
        <img src="{% static 'theme/mb/images/logo.png' %}" alt="Мемориальные услуги в Томске"
          title="Мемориальные услуги в Томске" />
      </a>
      <div class="header-under__address">
        <p class="header-under__address-title">Адрес:</p>
        <div class="header-under__address-row">
          <div class="header-under__address-col">
            <p>Яковлева, 41а</p>
            <p>Пн-Пт: 09:00 – 18:00</p>
            <p>Сб-Вс: 10:00 – 17:00</p>
            <a href="tel:+79009210915">
              +7(900) 921-09-15
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок"
                title="Заказать звонок" />
            </a>
          </div>
          <div class="header-under__address-col">
            <p>Демьяна Бедного, 16а ст1</p>
            <p>Пн-Пт: 09:00 – 18:00</p>
            <p>Сб-Вс: 10:00 – 17:00</p>
            <a href="tel:+79039554018">
              +7(903) 955-40-18
              <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок"
                title="Заказать звонок" />
            </a>
          </div>
        </div>
      </div>
      <div class="header-under__action">
        <button class="subdomain-button" id="subdomain-button" data-popup="subdomain">
          <img src="{% static 'theme/mb/images/icon/location.svg' %}" alt="Иконка адреса" title="Иконка адреса" />
          <span id="city">Томск</span>
        </button>
        <button type="button" data-popup="callback">
          Заказать звонок
          <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Заказать звонок Акрополь"
            title="Заказать звонок Акрополь" />
        </button>
        <button type="button" class="top-main__cart show-cart" id="show-cart">
          <span>Корзина</span>
          <img src="{% static 'theme/mb/images/icon/cart.svg' %}" alt="Иконка корзины" title="Иконка корзины" />
          {% user_carts request as carts %} {% if carts %}
          <span class="count-product-cart" id="count-goods">{{ carts.total_quantity }}</span>
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="header header--single">
  <div class="header__container">
    <div class="header__inner">
      <button type="button" class="header__callback" data-popup="callback">
        Заказать звонок
        <img src="{% static 'theme/mb/images/icon/phone-blue.svg' %}" alt="Телефон мемориальных услуг"
          title="Телефон мемориальных услуг" />
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <div class="nav__item-inner">
              <a href="{% url 'category' %}">Каталог</a>
              <img src="{% static 'theme/mb/images/icon/chevron-down_white.svg' %}" alt="Иконка открытие меню"
                title="Иконка открытие меню" class="nav__chevron" />
            </div>
            {% if category_menu %}
            <ul class="nav__submenu submenu">
              {% for category in category_menu %}
              <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          <li class="nav__item"><a href="{% url 'service' %}">Услуги</a></li>
          <li class="nav__item"><a href="{% url 'service_grav' %}">Гравировка</a></li>
          <li class="nav__item"><a href="{% url 'service_new' %}">Установка</a></li>
          <li class="nav__item"><a href="{% url 'delivery' %}">Оплата</a></li>
          <li class="nav__item"><a href="{% url 'gallery' %}">Наши работы</a></li>
          <li class="nav__item">
            <a href="{% url 'about' %}">О нас</a>
            <ul class="nav__submenu submenu">
              <li><a href="{% url 'blog' %}">Статьи</a></li>
            </ul>
            <img src="{% static 'theme/mb/images/icon/chevron-down_white.svg' %}" alt="Иконка открытие меню"
              title="Иконка открытие меню" />
          </li>
          <li class="nav__item"><a href="{% url 'contact' %}">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>