{% load static %}{% load carts_tag %}
<div class="mobile-nav">
  <a href="{% url 'category' %}" class="mobile-nav__item">
    <span>Каталог</span>
    <img src="{% static 'theme/mb/images/icon/catalog.svg' %}" alt="Каталог" title="Каталог" />
  </a>
  <button class="mobile-nav__item show-cart">
    <span>Корзина</span>
    <img src="{% static 'theme/mb/images/icon/cart-mobile.svg' %}" alt="Корзина" title="Корзина" />
    {% user_carts request as carts %} {% if carts %}
    <span class="count-product-cart" id="count-goods">{{ carts.total_quantity }}</span>
    {% endif %}
  </button>
  <button class="mobile-nav__item" id="burger-btn">
    <span>Меню</span>
    <div class="burger"><span></span></div>
  </button>
</div>