{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}
{% block content %}
<main class="page">
  <div class="main" style="background-image:url({% static 'theme/mb/images/bg-main.png' %})">
    {% if home_page.banner %}
    <img src="{{ home_page.banner.url }}" alt="Автомобили" class="main__bg">
    {% endif %}
    <div class="main__container">
      <div class="main__row">
        <div class="main__col">
          <h1 class="main__title">
            {{ home_page.title_one|safe }}
            <!-- <span>Удобный поиск и получение</span> нужных запчастей на ваш автомобиль <span>в 2 клика</span> -->
          </h1>
          <p class="main__subtitle">{{ home_page.subtitle }}</p>
          <div class="main__action">
            <button class="main__btn _btn" data-popup="callback">Заказать обратный звонок</button>
            <p class="main__text">*Мы продаём запчасти, которые сами испытываем на своих автомобилях</p>
          </div>
        </div>
        <div class="main__col">

        </div>
      </div>
      <div class="main__adv adv">
        <div class="adv__card">
          <img src="{% static 'theme/mb/images/icon/adv-1.svg' %}" alt="" class="adv__card-icon">
          <img src="{% static 'theme/mb/images/icon/adv-1-1.svg' %}" alt="" class="adv__card-icon-two">
          <p class="adv__card-text">{{ home_page.text_one_one }}</p>
        </div>
        <div class="adv__card">
          <img src="{% static 'theme/mb/images/icon/adv-2.svg' %}" alt="" class="adv__card-icon">
          <img src="{% static 'theme/mb/images/icon/adv-2-2.svg' %}" alt="" class="adv__card-icon-two">
          <p class="adv__card-text">{{ home_page.text_one_two }}</p>
        </div>
        <div class="adv__card">
          <img src="{% static 'theme/mb/images/icon/adv-3.svg' %}" alt="" class="adv__card-icon">
          <img src="{% static 'theme/mb/images/icon/adv-3-3.svg' %}" alt="" class="adv__card-icon-two">
          <p class="adv__card-text">{{ home_page.text_one_three }}</p>
        </div>
        <div class="adv__card">
          <img src="{% static 'theme/mb/images/icon/adv-4.svg' %}" alt="" class="adv__card-icon">
          <img src="{% static 'theme/mb/images/icon/adv-4-4.svg' %}" alt="" class="adv__card-icon-two">
          <p class="adv__card-text">{{ home_page.text_one_four }}</p>
        </div>
      </div>
    </div>
  </div>


  <section class="why-us" id="why-us">
    <div class="why-us__container">
      <div class="why-us__row">
        <div class="why-us__col">
          <h2 class="why-us__title">Почему люди покупают запчасти у нас ?</h2>
          <ul class="why-us__list">
            <li>
              <span>1</span>
              {{ home_page.item_one}}
            </li>
            <li>
              <span>2</span>
              {{ home_page.item_two}}
            </li>
            <li>
              <span>3</span>
              {{ home_page.item_three}}
            </li>
          </ul>
          <div class="how-work">
            <div class="how-work__card how-cards">
              <div class="how-cards__card how-cards__card--first">
                <p class="how-cards__title">Как мы работаем ?</p>
                <p class="how-cards__text">{{ home_page.why_subtitle }}</p>
              </div>
              <div class="how-cards__card">
                <div class="how-cards__icon">
                  <img src="{% static 'theme/mb/images/icon/i-1.svg' %}" alt="">
                </div>
                <p class="how-cards__title">{{ home_page.why_title_card_one }}</p>
                <p class="how-cards__text">{{ home_page.why_descr_card_one }}</p>
              </div>
              <div class="how-cards__card">
                <div class="how-cards__icon">
                  <img src="{% static 'theme/mb/images/icon/i-2.svg' %}" alt="">
                </div>
                <p class="how-cards__title">{{ home_page.why_title_card_two }}</p>
                <p class="how-cards__text">{{ home_page.why_descr_card_two }}</p>
              </div>
              <div class="how-cards__card">
                <div class="how-cards__icon">
                  <img src="{% static 'theme/mb/images/icon/i-3.svg' %}" alt="">
                </div>
                <p class="how-cards__title">{{ home_page.why_title_card_three }}</p>
                <p class="how-cards__text">{{ home_page.why_descr_card_three }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="why-us__director">
          <div class="why-us__director-text">

            {{ home_page.director|safe }}
            <p class="director">Директор компании Multi Brand Parts</p>
          </div>
          {% if home_page.director_image %}
          <img src="{{ home_page.director_image.url }}" alt="Директор MultiBrandParts">
          {% endif %}

        </div>
      </div>

    </div>
  </section>

  <section class="reviews" id="reviews">
    <div class="reviews__container">
      <div class="reviews__inner">
        <h2 class="reviews__title">Мнение клиентов</h2>
        <div class="reviews__row">
          <div class="reviews__col">
            {{ home_page.rev_one|safe }}
          </div>
          <div class="reviews__col">
            {{ home_page.rev_two|safe }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "../includes/contact-block.html" %}
</main>
{% endblock %}